<div class="container-fluid container-s">
    <div class="row">
        <div class="col">
            <p *ngFor="let alert of alerts" class="fade-in ">
                <ngb-alert [type]="alert.type" #alerta (close)="closeAlert(alert)">

                        <i *ngIf="alert.type == 'success'" class="fas fa-check-circle"></i>
                        <i *ngIf="alert.type == 'warning'" class="fas fa-exclamation-triangle"></i>
                        <i *ngIf="alert.type == 'danger'" class="fas fa-times-circle"></i>                        
                        <i *ngIf="alert.type == 'info'" class="fas fa-info-circle"></i>

                    {{ alert.message }}
                </ngb-alert>
            </p>
        </div>
    </div>
</div>