.padding-ajust{
    padding: 0px 40px;
}

.margin-right-ajust{
    margin-right: 60px;
}

li{
    padding-left: 6px;
    padding-right: 6px;
}

.actives{
    background-color: #8080808f;
    color: #000 !important; 
}

.nav-just{
    display: inline;
}

.span-just{
    margin-right: 15px;
    text-transform: uppercase;
}

.blockJust{
    display: block !important;
}

.dropdownJust{
    border: none;
    background-color: #f8f9fa;
    color: black !important;
    font-weight: 600;
}

.min-width-just{
    min-width: 160px;
}